.form {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #ffffff;
    border: 1px solid #F5F5F5;
    border-radius: 2px;
    box-shadow: 0 10px 35px -15px rgba(0, 0, 0, 0.2);
}

.form__input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-family: inherit;
    font-size: 1em;
    border: 2px solid #F5F5F5;
}

.error {    
    border: 2px solid #e23e35;
}

.form__input:focus {
    border-color: #03a9f4;
    outline: none;
}

.form__footer {
    padding-top: 20px;
}

.form__submit {
    margin: 0 10px;
}

.form__submit:disabled {
    border: 2px solid #f5f5f5;
    background-color: #F8F8F8;
    color: #868686;
    cursor: default;
}

.resend__link__wrapper {
    padding-top: 10px;
    padding-bottom: 10px;    
}

.resend__link {
    font-size: 10pt;
    color: dodgerblue;
}

.resend__link:hover {
    cursor: pointer;
}