.template {
    font-size: 1rem;
}

.template__item {
    padding: 30px;
    background: #ffffff;
    border: 2px solid #F5F5F5;
    margin-bottom: 30px;
}

.template__title {
    width: 100%;
    height: 20px;
    margin-bottom: 1em;
    background-color: #E5E5E5;
    border-radius: 2px;
    animation: Pulse 1s infinite;
}

.template__text {
    width: 50%;
    height: 12px;
    margin-bottom: 7px;
    background-color: #F8F8F8;
    animation: Pulse 1s infinite;
}

.template__text:first-of-type {
    width: 80%;
}

.template__text:last-of-type {
    width: 60%;
}

@keyframes Pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}