.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__box {
    width: 20px;
    height: 20px;
    border: 2px solid #03a9f4;
    background-color: #03a9f4;
    animation: Rotate 2s infinite ease;
}

.loader__box:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    animation: Fill 2s infinite ease-in;
    transform-origin: bottom;
}

@keyframes Rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes Fill {
    0% {
        transform: scaleY(0);
    }

    25% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(1);
    }

    75% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}