.nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.nav__list {
    display: flex;
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    display: block;
    padding: 1.4em 1em;
    color: #000000;
    font-family: inherit;
    text-decoration: none;
    white-space: nowrap;
}

.nav__link--active {
    background-color: #f5f5f5;
}

.nav__link:hover,
.nav__link:focus {
    background-color: #F5F5F5;
}