.header {
    background-color: #ffffff;
    border-bottom: 1px solid #F5F5F5;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header__box {
    padding: 0;
}

.header__box--scrollable {
    position: relative;
    flex: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
    .header__box--scrollable {
        overflow: visible;
    }
}

.header__box--scrollable:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 20px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.header__button {
    margin: 0 15px;
}